#main {
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

#tasks-area {
    width: 60%;
    height: 75vh;
    flex: 1;
    overflow-y: auto;
    box-shadow: 0px 10px 40px #00000056;
    border-radius: 15px;
    scroll-behavior: smooth;
}