@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin:0;
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    font-family: "Roboto", 'Trebuchet MS';
}

header {
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
}

header > h1 {
    margin-left: 3.2%;
    color: #77ffc0;
}

nav {
    width: 87%;
    margin-right: 3%;
    display: flex;
    justify-content: flex-end;
}

#logout-btn {
    width: 10%;
    background-color: #514869;
    padding: 9px;
    margin: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 12pt;
    color: #f0ffffde;
    box-sizing: border-box;
}

#form-area {
    width: 36vw;
    height: 74vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#form-area h2 {
    font-size: 20pt;
    font-weight: 800;
    color: #f0ffffde;
}

#task-form {
    width: 55%;
    display: flex;
    margin-left: 6%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    background-color: #2f2841;
    border-radius: 20px;
}

.textfield {
    width: 100%;
    display: flex;
    margin: 3%;
    font-size: 13pt;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    user-select: none;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: var(--main-box-shadow);
    box-sizing: border-box;
    outline: none;
}

.textfield > textarea {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: var(--main-box-shadow);
    box-sizing: border-box;
    outline: none;
}

#radio-area {
    width: 100%;
    margin-top: 7%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #f0ffffde;
}

#submit-area {
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit-area > input {
    width: 100%;
    padding: 17px;
    background-color: #514869;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 11pt;
    color: #f0ffffde;
    box-sizing: border-box;
}