<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks and Tasks</title>
    <link th:href="@{/css/index-register-layer.css}" rel="stylesheet">
    <link th:href="@{/css/index-header-layer.css}" rel="stylesheet">
    <link th:href="@{/css/index-footer-layer.css}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <h1><a id="logo" href="/">Tasks and Tasks</a></h1>
            <ul id="nav-list">
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Sobre</a></li>
                <li><a href="#licenses">Licenças</a></li>
            </ul>
        </nav>
    </header>

    <section id="main-register">
        <article id="left-register">
            <h2>Organize suas tarefas com a gente</h2>
            <img th:src="@{/imgs/working-animate.svg}" alt="man-working" id="left-register-img">
        </article>
        <article id="right-register">
            <form th:action="@{/create/user}" th:object="${user}" method="post" id="card-form">
                <h3>REGISTRO</h3>

                <div class="textfield">
                    <label for="name">Nome:</label>
                    <input type="text" id="name" th:field="*{name}" required>
                </div>
                
                <div class="textfield">
                    <label for="name">Email:</label>
                    <input type="text" id="email" th:field="*{email}" required>
                </div>
                <button type="submit" id="btn-sub">Cadastrar</button>
            </form>
        </article>
    </section>

    <footer id="licenses">
        <div id="footer-left">
            <p id="authors">
                Autores: Vitor Maximus & Gabriel Davi
            </p>
        </div>
        
        <div id="footer-right">
            <p id="copyright">ETESC©</p>
        </div>
    </footer>

    <script src="../static/js/index-form-validator.js"></script>
</body>
</html>