<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks and Tasks</title>
    <link th:href="@{/css/index/global-style.css}" rel="stylesheet">
    <link th:href="@{/css/index/index-header-layer.css}" rel="stylesheet">
    <link th:href="@{/css/index/index-register-layer.css}" rel="stylesheet">
    <link th:href="@{/css/index/index-footer-layer.css}" rel="stylesheet">
    <link th:href="@{/css/index/index-about-layer.css}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <h1><a id="logo" href="/">Tasks and Tasks</a></h1>
            <ul id="nav-list">
                <li><a href="#about">Sobre</a></li>
                <li><a href="#rights">Direitos</a></li>
            </ul>
        </nav>
    </header>

    <section id="main-register">
        <article id="left-register">
            <h2>Organize suas tarefas com a gente</h2>
            <img th:src="@{/imgs/working-animate.svg}" alt="man-working" id="left-register-img">
        </article>
        <article id="right-register">
            <form th:action="@{/register}" th:object="${user}" method="post" id="card-form">
                <h3>REGISTRO</h3>

                <div class="textfield">
                    <label for="name">Nome:</label>
                    <input type="text" id="name" th:field="*{name}" required>
                </div>
                
                <div class="textfield">
                    <label for="name">Email:</label>
                    <input type="text" id="email" th:field="*{email}" required>
                </div>
                <button type="submit" id="btn-sub">Cadastrar</button>

                <div id="login-section">
                    <p style="color: white;">Já é cadastrado?</p>
                    <a id="login-link" th:href="@{/login}"><b>Faça login</b></a>
                </div>
            </form>
        </article>
    </section>

    <section id="about">
        <p>
            Você é uma pessoa muito atarefada? Seus problemas acabaram!
            Com o Tasks and Tasks, você pode reunir todas as suas tarefas em um só lugar.
        </p>

        <p>
            Aqui, dá para organizar suas tarefas por grau de prioridade: baixa, média e alta.
            Também é possível dividir os afazeres por categorias (como: escola, trabalho etc.), facilitando sua organização!
        </p>

        <p>
            Ficou interessado? Cadastre-se e experimente, é totalmente gratuito!
        </p>
    </section>

    <footer id="rights">
        <div id="footer-left">
            <p id="authors">
                Autores: Vitor Maximus & Gabriel Davi
            </p>
        </div>
        
        <div id="footer-right">
            <p id="copyright">ETESC©</p>
        </div>
    </footer>
</body>
</html>